body,
html {
    height: 100%;
}

body {
    padding-top: 50px;
    background-image: url("bgimg1.jpg");

    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    /*
    background: linear-gradient(-90deg,#ff8008, #ffc837);
    */
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #7d4218;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #7d4218;
    color: white;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

footer {
    display: block;
}

.mypanel {
    border: 1px solid #eaeaec;
    margin: -1px 19px 3px -1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #fafafa;
    padding: 15px;
    border-radius: 5px;
}

input {
    border: 5px solid white;
}

.navbar {
    overflow: hidden;
    background-color: #7d4218;
    font-size: 200px;
    font-family: Caballero;
}